<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OYRPopOptionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9044C701EB31BC100AF3205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9044C891EB31BC200AF3205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9044C941EB31BC300AF3205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
